@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
body {
  margin: 0;
  background-color: #000;
}
#app {
  position: relative;
  display: block;
  width: 1280px;
  height: 800px;
  background-color: #fff;
}
/* 粉色頁面 */
.pink {
  position: relative;
  display: block;
  width: 1280px;
  height: 800px;
  background-color: #d7f554;
}
.blue {
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 0px;
  width: 450px;
  height: 800px;
  background-color: #003164;
}
.circle {
  position: absolute;
  display: inline-block;
  left: 560px;
  top: 130px;
  width: 540px;
  height: 540px;
  border-radius: 540px;
  border: 4px solid #ff4384;
}

.bigcircle {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  border-radius: 500px;
  border: 4px solid #ff4384;
  background-color: #ff4384;
  box-sizing: border-box;
}
.allRange {
  position: absolute;
  display: block;
  width: 540px;
  height: 540px;
  box-sizing: border-box;
}
.right_rec {
  position: absolute;
  display: block;
  right: 0px;
  width: 270px;
  height: 540px;
  overflow: hidden;
}
.right_circle::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 540px;
  height: 540px;
  border: 20px solid transparent;
  border-radius: 50%;
  margin: 0px;
  box-sizing: border-box;
  border-top: 20px solid #ff4384;
  border-right: 20px solid #ff4384;
  right: 0;
  transform: rotate(225deg);
}
.right_circle {
  transform-origin: 0 270px;
}

.left_rec {
  position: absolute;
  display: block;
  left: 0px;
  width: 270px;
  height: 540px;
  overflow: hidden;
}
.left_circle::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 540px;
  height: 540px;
  border: 20px solid transparent;
  border-radius: 50%;
  margin: 0px;
  box-sizing: border-box;
  border-top: 20px solid #ff4384;
  border-left: 20px solid #ff4384;
  left: 0;
  transform: rotate(135deg);
}
.left_circle {
  transform-origin: 270px 270px;
}

.bigcircle.pause {
  position: absolute;
  display: block;
  background-color: #ffffff;

  box-sizing: border-box;
}
.datarange {
  position: absolute;
  display: inline-block;
  top: 0px;
  width: 445px;
  height: 800px;
  left: 85px;
}
.input {
  position: absolute;
  display: block;
  width: 445px;
  height: 56px;
  top: 48px;
  background-color: #ffffff;
  border: none;
  color: #ff4384;
  font-family: 'Roboto';
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
}
.input::-webkit-input-placeholder {
  color: #ff4384;
}
.time {
  position: absolute;
  display: block;
  width: 445px;
  height: 206px;
  top: 297px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #ff4384;
  font-size: 176px;
  margin: 0px;
}
#bigbluecircleGroup {
  position: relative;
  display: inline-block;
  top: 249px;

  height: 56px;
}
.bigbluecircle {
  position: relative;
  display: inline-block;
  border: 4px solid #003164;

  width: 48px;
  height: 48px;
  border-radius: 48px;
}
.pinkGroup {
  position: relative;
  display: block;
  top: -20px;
  left: 50px;
}
.pinkSpot {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin-left: 10px;
  background-color: #ff4384;
}
.do_new_list {
  position: relative;
  display: inline;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 24px;
  color: #003164;
  vertical-align: top;
}

.add_word_pluse {
  position: absolute;
  z-index: 1;
  display: inline-block;
  top: 60px;
  left: 490px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 24px;
  color: #ff4384;
  cursor: pointer;
}
.wait_do_list_group {
  z-index: 1;
  position: relative;
  display: inline-block;
  left: 0px;
  top: 610px;
  width: 445px;
  height: 30px;
  text-decoration: underline;
  margin-top: 5px;
}
.wait_do_list_group > span {
  position: relative;
  display: block;
  padding-bottom: -1px;
  border-bottom: 1px solid #003164;
}
.smallbluecircle {
  position: absolute;
  display: inline-block;
  left: 0px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin-top: 5px;
  border: 2px solid #003164;
}
.wait_do_list {
  position: absolute;
  display: inline-block;
  left: 35px;
  line-height: 30px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 16px;
  color: #003164;
  margin-bottom: 2px;
}
.material-icons {
  position: relative;
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  line-height: 30px;
  margin-left: 385px;
  color: #003164;
  cursor: pointer;
}

.play_center_circle {
  position: absolute;
  display: inline;
  left: 50%;
  top: 50%;
}
.material-icons_play {
  z-index: 1;
  position: absolute;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 100px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  color: white;
  left: -50px;
  top: -50px;
  cursor: pointer;
}
.material-icons_pause {
  position: absolute;
  display: inline-block;
  width: 85px;
  height: 85px;
  border-radius: 85px;
  display: inline-block;
  background-color: #ff4384;
  left: -42.5px;
  top: -42.5px;
}
.rec1 {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 40px;
  background-color: #ffffff;
  left: 30px;
  top: 22.5px;
}
.rec1:after {
  content: '';
  position: relative;
  display: inline-block;
  width: 8px;
  height: 40px;
  background-color: #ffffff;
  left: 18px;
}
.material-icons_button {
  position: absolute;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 36px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  color: white;
  cursor: pointer;
}
.one {
  left: 329px;
  top: 48px;
}
.two {
  left: 329px;
  top: 132px;
}
.three {
  left: 329px;
  top: 216px;
}
.POMODORO {
  position: absolute;
  display: block;
  font-family: 'Futura';
  font-weight: bold;
  left: 334px;
  top: 587px;
  margin: 0px;
  width: 24px;
  height: 192px;
}
.word {
  display: block;
  font-size: 24px;
  color: #ffffff;
  transform: rotate(90deg);
  margin: 0px;
  width: 24px;
  height: 24px;
}
/*藍色頁面*/
.rest .pink {
  background-color: #e5f3ff;
}
.rest .circle {
  border: 4px solid #00a7ff;
}

.rest .bigcircle {
  border: #00a7ff;
  background-color: #00a7ff;
}

.rest .right_circle::before {
  border-top: 20px solid #00a7ff;
  border-right: 20px solid #00a7ff;
}

.rest .left_circle::before {
  border-top: 20px solid #00a7ff;
  border-left: 20px solid #00a7ff;
}
.rest .input {
  color: #00a7ff;
}
.rest .input::-webkit-input-placeholder {
  color: #00a7ff;
}
.rest .time {
  color: #00a7ff;
}

.rest .add_word_pluse {
  color: #00a7ff;
}

.rest .material-icons_pause {
  background-color: #00a7ff;
}
.rest .bigcircle.pause {
  position: absolute;
  display: block;
  background-color: #ffffff;
  border: 4px solid #00a7ff;
  box-sizing: border-box;
}
.rest .pinkSpot {
  background-color: #00a7ff;
}
