<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="../第2批/css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="js/vue.js"></script>
    <script type="text/javascript">
      (function() {
        window.onload = function() {
          var app = new Vue({
            el: '#app',
            data: {
              list: [
                { name: 'the First thing to do today', done: 0 },
                { name: 'the Second thing to do today', done: 0 },
                { name: 'the Third thing to do today', done: 0 },
                { name: 'the Forth thing to do today', done: 0 },
              ],
              active: 0,
              list_show: 'the First thing to do today',
              totalTime: 3,
              showTime: '',
              time: '',
              show_minute: '',
              show_second: '',
              show: true,
              play: false,
              count: '',
              rate: 0,
              state: 'work',
            },
            methods: {
              minutetime_play: function() {
                this.play = true;
                this.show = false;
                if (this.state == 'work') {
                  this.totalTime = 3;
                  this.showTime = this.totalTime - this.time;
                  this.textcount();
                } else {
                  this.totalTime = 5;
                  this.showTime = this.totalTime - this.time;
                  this.textcount();
                }
                var bigcircle = document.getElementById('bigcircle');
                bigcircle.classList.add('pause');

                this.count = setInterval(this.timeset, 1000);
              },

              minutetime_pause: function() {
                var bigcircle = document.getElementById('bigcircle');
                bigcircle.classList.remove('pause');
                this.play = false;
                if (this.state == 'work') {
                  this.totalTime = 3;
                  this.showTime = this.totalTime - this.time;
                  this.textcount();
                } else {
                  this.totalTime = 5;
                  this.showTime = this.totalTime - this.time;
                  this.textcount();
                }
                clearInterval(this.count);
                this.show = true;
              },
              list_ready_toplay: function(e, index) {
                this.active = index;
                this.list[this.active].active1 = false;
                for (var i = 0; i < this.list.length; i++) {
                  if (i !== this.active) {
                    this.list[i].active1 = true;
                  }
                }
                this.list_show = this.list[this.active].name;
              },
              textcount: function() {
                this.show_minute = Math.floor(this.showTime / 60);
                if (this.show_minute < 10) {
                  this.show_minute = '0' + this.show_minute;
                }
                this.show_second = this.showTime - this.show_minute * 60;
                if (this.show_second < 10) {
                  this.show_second = '0' + this.show_second;
                }
              },
              timeset: function() {
                if (this.showTime > 0) {
                  this.time++;
                  this.showTime = this.totalTime - this.time;
                  this.rate = this.time / this.totalTime;
                  this.textcount();
                } else {
                  this.minutetime_pause();
                  this.time = 0;
                  this.showTime = this.totalTime;
                  this.rate = 0;
                  this.textcount();

                  if (this.state == 'work') {
                    this.state = 'rest';
                    this.showTime = 5;
                    this.list[this.active].done++;
                    console.log(
                      this.list[0].done,
                      this.list[1].done,
                      this.list[2].done,
                      this.list[3].done,
                    );
                    this.textcount();
                  } else {
                    this.state = 'work';
                    this.showTime = 3;
                    this.textcount();
                  }
                }
              },
              rateChange: function(val) {
                return Math.min(Math.max(val, 0), 0.5) * 360;
              },
            },
            mounted: function() {
              this.showTime = this.totalTime;
              this.textcount();
            },
            watch: {},
          });
        };
      })();
    </script>
  </head>
  <body>
    <div id="app">
      <div :class="state">
        <!--粉色開始頁面開始-->
        <div class="pink"></div>
        <div class="blue">
          <i class="material-icons_button one">list</i>
          <i class="material-icons_button two">assessment</i>
          <i class="material-icons_button three">library_music</i>
          <div class="POMODORO">
            <p class="word">POMODORO{{ state }}</p>
          </div>
        </div>
        <div class="add_word_pluse">+</div>
        <div class="datarange">
          <input class="input" placeholder="ADD A NEW MISSION..." />
          <div id="bigbluecircleGroup">
            <div class="bigbluecircle"></div>
            <div class="do_new_list">{{ list_show }}</div>
            <div id="pinkGroup" class="pinkGroup">
              <div v-for="(item) in list[active].done" class="pinkSpot"></div>
            </div>
          </div>
          <p class="time">{{ show_minute }}:{{ show_second }}</p>
          <div v-for="(model,index) in list">
            <div v-if="index !== active" class="wait_do_list_group">
              <span>
                <div class="smallbluecircle"></div>
                <div class="wait_do_list">{{ model.name }}</div>
                <i class="material-icons" @click="function(e){list_ready_toplay(e,index)}"
                  >play_circle_outline</i
                >
              </span>
            </div>
          </div>
        </div>
        <div class="circle">
          <!--  圓形進度條 -->
          <div class="allRange">
            <div class="right_rec">
              <div
                id="right_circle"
                class="right_circle"
                :class="[state]"
                :style="{ transform:'rotate('+rateChange(rate)+'deg)'}"
              ></div>
            </div>
            <div class="left_rec">
              <div
                id="left_circle"
                class="left_circle"
                :style="{transform:'rotate('+rateChange(rate-0.5)+'deg)'}"
              ></div>
            </div>
          </div>
          <!--結束-->
          <div id="bigcircle" class="bigcircle"></div>
          <div class="play_center_circle">
            <i @click="minutetime_play" v-if="show" class="material-icons_play"
              >play_circle_filled</i
            >
            <div @click="minutetime_pause" v-if="!show" class="material-icons_pause">
              <div class="rec1"></div>
            </div>
          </div>
        </div>
      </div>
      <!--粉色開始頁面結束-->
    </div>
  </body>
</html>
